{% extends 'base.html' %}
{% block title %}Đăng nhập - Flashcard App{% endblock %}

{% block body_class %}body-centered-content hide-nav-footer-on-mobile{% endblock %}

{% block content %}
    <div class="container">
        <h1>Đăng nhập</h1>
        <form method="POST" action="{{ url_for('auth.login') }}">
            <div class="form-group">
                <label for="username">Tên đăng nhập:</label>
                <input type="text" id="username" name="username" required autofocus>
            </div>
            <div class="form-group">
                <label for="password">Mật khẩu:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" class="button primary">Đăng nhập</button>
        </form>
    </div>
{% endblock %}
